REACT_APP_RPC_MAINNET=https://ethereum-rpc.publicnode.com
REACT_APP_RPC_BNB=https://bsc-rpc.publicnode.com
REACT_APP_RPC_POLYGON=https://polygon-bor-rpc.publicnode.com
REACT_APP_RPC_OPTIMISM=https://optimism-rpc.publicnode.com
REACT_APP_RPC_ARBITRUM=https://arbitrum-one-rpc.publicnode.com
REACT_APP_RPC_BASE=https://base-rpc.publicnode.com
REACT_APP_RPC_SEPOLIA=https://ethereum-sepolia-rpc.publicnode.com
REACT_APP_RPC_LOCAL=http://127.0.0.1:8545
